<div class="edf">
    <div class="row">
        <img src="assets/img/edf_icon.png" class="col-md-2 col-xs-2" alt="edf logo"/>
        <h4 class="col-md-9 col-xs-9">Compteur EDF</h4>
    </div>

    <div class="edf-data">
        <div class="row">
            <span class="col-md-3">Adresse</span>
            <p class="col-md-9">{{elt.georef_label}}</p>
        </div>

        <div class="row">
            <span class="col-md-3">PDL</span>
            <p class="col-md-9">{{elt.PDL}}</p>
        </div>

        <div class="row">
            <span class="col-md-3">Tarif</span>
            <p class="col-md-9">{{elt.tarif}} </p>
        </div>

        <div class="row">
            <span class="col-md-3">Contrat</span>
            <p class="col-md-9">{{elt["ref contrat"]}} </p>
        </div>
    </div>
</div>